openapi: 3.0.0
info:
  title: Object Location Service API
  description: API for managing objects and calculating distances to them.
  version: 1.0.0
servers:
  - url: http://api.objectlocationservice.com/v1
paths:
  /objects:
    post:
      summary: Add a new object with coordinates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '201':
          description: Object added
    get:
      summary: Get a list of all objects
      responses:
        '200':
          description: A list of objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Object'
  /objects/{objectId}:
    get:
      summary: Get details of a specific object
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Object details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
    delete:
      summary: Delete a specific object
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Object deleted
  /objects/{objectId}/distance:
    get:
      summary: Calculate distance to the object from current location
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: lon
          in: query
          required: true
          schema:
            type: number
            format: double
      responses:
        '200':
          description: Calculated distance to the object
          content:
            application/json:
              schema:
                type: object
                properties:
                  distance:
                    type: number
                    format: double
                    description: Distance to the object in meters
components:
  schemas:
    Object:
      type: object
      required:
        - id
        - name
        - lat
        - lon
      properties:
        id:
          type: string
          description: Unique identifier for the object
        name:
          type: string
          description: Name of the object
        lat:
          type: number
          format: double
          description: Latitude of the object
        lon:
          type: number
          format: double
          description: Longitude of the object
